html {
    height:100%;
}

body{
    min-height:100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /*background: rgb(51, 51, 51);
    color: rgb(239, 239, 239);*/
}

.overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.cover {
  position: ab;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.cover img {
  margin: auto;
  max-width: 100%;
}

header
{
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

