body{
    background-color: white;
}

.glyphicon-flag{
    color: rgb(2, 124, 8);
}

.glyphicon-time{
    color: rgb(1, 105, 179);
}

.glyphicon-home{
    /*color: rgb(142, 142, 142);*/
}

.glyphicon-certificate{
    color: rgb(224, 103, 1);
}